* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #007bff;
}

nav .logo {
    flex: 0 0 auto;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
}

/* Main */

main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    flex: 1 0 auto;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p.logged-out {
    color: red;
}

section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

form {
    display: grid;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.info-text {
    font-size: 14px;
    color: black;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Error Message */

.error-message {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.success-message {
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 10px;
    border-radius: 8px;
    margin-top: 16px;
}

.log-in-text {
    color: #4F8A10;
}

/* Footer */

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 16px;
}
