* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #007bff;
}

nav .logo {
    flex: 0 0 auto;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
}

/* Main */

main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    flex: 1 0 auto;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    font-weight: lighter;
    margin: 12px 0;
}

h2 a {
    text-decoration: none;
}

.button, .secondary-outline-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button {
    color: #fff;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    margin-top: 12px;
}

.button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.secondary-outline-button {
    color: #007BFF;
    background-color: transparent;
    border: 1px solid #007BFF;
    margin-top: 12px;
}

.secondary-outline-button:hover {
    color: #fff;
    background-color: #007BFF;
}

p.logged-out {
    color: red;
}

section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: 16px 0;
}

.button-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    place-items: center;
    max-width: 50%;
    margin: 0 auto;
}

form {
    display: grid;
    gap: 0;
}

.password-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

label {
    margin: 8px 0;
}

.info-text {
    font-size: 14px;
    color: black;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 8px;
}

/* Event Dashboard */

.three-column-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.one-column-grid-container {
    display: grid;
    grid-template-columns: auto;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Error Message */

.error-message {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.success-message {
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 10px;
    border-radius: 8px;
    margin-top: 16px;
}

.log-in-text {
    color: #4F8A10;
}

/* Footer */

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 16px;
}
