* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #007bff;
}

nav .logo {
    flex: 0 0 auto;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
}

/* Main */

main {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex: 1 0 auto;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin-top: 16px;
}

h2 {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 12px;
}

h2 a {
    text-decoration: none;
}

.button,
.secondary-outline-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    margin-top: 12px;
}

.button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.secondary-outline-button {
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
    margin-top: 12px;
}

.secondary-outline-button:hover {
    color: #fff;
    background-color: #007bff;
}

p.logged-out {
    color: red;
}

section:not(.chart-container) {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
}

.button-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    place-items: center;
    max-width: 50%;
    margin: 0 auto;
}

form {
    display: grid;
    gap: 0;
}

.password-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

label {
    margin: 8px 0;
}

.info-text {
    font-size: 14px;
    color: black;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 8px;
}

.account-information-text {
    margin-top: 16px;
    text-align: center;
}

.login-signup-buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

/* Events Overview */

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

/* Event Dashboard */

.event-dashboard-buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.chart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.chart-container canvas {
    width: 100% !important;
    height: 400px; /* Set the height of the canvas to 100% */
}

.one-column-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.one-column-grid-container > p {
    margin-top: 16px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Transaction History Table */

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Style the table cells */
td {
    padding: 12px 15px;
}

/* Style the table headers */
th {
    background-color: #007bff;
    color: white;
    text-align: left;
    padding: 12px 15px;
}

/* Style every even row */
tr:nth-child(even) {
    background-color: #f3f3f3;
}

/* Add a hover effect to rows */
tr:hover {
    transform: scale(1.005);
    transition: transform 0.3s ease;
}

/* Error Message */

.error-message {
    color: #d8000c;
    background-color: #ffd2d2;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.success-message {
    color: #4f8a10;
    background-color: #dff2bf;
    padding: 10px;
    border-radius: 8px;
    margin-top: 16px;
}

.log-in-text {
    color: #4f8a10;
}

/* Footer */

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 16px;
}
