* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #007bff;
}

nav .logo {
    flex: 0 0 auto;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
}

/* Main */

main {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex: 1 0 auto;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 12px;
}

h2 a {
    text-decoration: none;
}

/* Buttons */

.button,
.secondary-outline-button {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 8px 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;  
}

.button {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
}

.button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.button-outline-danger {
    color: #dc3545;
    background-color: transparent;
    border-color: #dc3545;
}

.button-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.button-outline-danger:focus, .button-outline-danger:active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.secondary-outline-button {
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
}

.secondary-outline-button:hover {
    color: #fff;
    background-color: #007bff;
}

.button-tertiary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.button-tertiary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.button-tertiary:focus, .button-tertiary:active {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

/* Margins */

.margin-top-16 {
    margin-top: 16px;
}

p.logged-out {
    color: red;
}

section:not(.chart-container) {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
}

.section-container {
    max-width: 600px;
    margin: 0 auto;
}

.button-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    place-items: center;
    max-width: 50%;
    margin: 0 auto;
}

form {
    display: grid;
    gap: 0;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    margin: 8px 0;
}

label {
    margin: 8px 0;
}

.info-text,
.password-requirements {
    font-size: 14px;
    color: black;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 8px 0;
}

.event-invitation-message {
    margin: 8px 0;
}

.password-requirements {
    list-style-type: none;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

.account-information-text {
    margin-top: 16px;
    text-align: center;
}

.login-signup-buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

/* Events Overview */

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Event Dashboard */

.event-dashboard-buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.chart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.chart-container canvas {
    width: 100% !important;
    height: 400px; /* Set the height of the canvas to 100% */
}

.one-column-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.one-column-grid-container > p {
    margin-top: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Transaction History Table */

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Style the table cells */
td {
    padding: 12px 15px;
}

/* Style the table headers */
th {
    background-color: #007bff;
    color: white;
    text-align: left;
    padding: 12px 15px;
}

/* Style every even row */
tr:nth-child(even) {
    background-color: #f3f3f3;
}

/* Add a hover effect to rows */
tr:hover {
    transform: scale(1.005);
    transition: transform 0.3s ease;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

.pagination a {
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #0056b3;
    color: #fff;
}

.pagination a:active {
    transform: scale(0.9);
}

/* Error Message */

.error-message {
    color: #d8000c;
    background-color: #ffd2d2;
    padding: 10px;
    border-radius: 8px;
    margin-top: 16px;
}

.success-message {
    color: #4f8a10;
    background-color: #dff2bf;
    padding: 10px;
    border-radius: 8px;
    margin-top: 16px;
}

.log-in-text {
    color: #4f8a10;
}

/* Filter Form */

.filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.filter-label {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.filter-select {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

.filter-select:hover {
    border-color: #007bff;
}

.filter-button {
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;  
    margin-left: auto;
}

.filter-button:hover {
    background-color: #0056b3;
}

.filter-button:active {
    transform: scale(0.9);
}

/* Profile Information Settings */

.two-grid-column-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

/* Password Show */

.password-container {
    margin: 8px 0;
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
}

.password-container a {
    text-align: left;
}

.show-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    text-align: right;
}

/* Event Overview Charts */

.event-overview-chart {
    margin-top: 16px;
}

/* Profile Information Page */

.profile-picture-container {
    display: flex;
    justify-items: center;
    align-items: center;
}

.profile-picture {
    font-size: 150px;
    margin: 0 auto;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.profile-full-name {
    margin-top: 8px;
}

.profile-username {
    margin-top: 8px;   
    color: #888;
}

.profile-email {
    margin-top: 8px;
    text-align: center;
}

.profile-section-title {
    font-size: 24px;
}

.email-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px 0;
}
.email-container label {
    margin-right: 8px;
}

.email-container span, 
.email-container button {
    font-size: small;
    margin: 0 8px;
    text-align: center;
}

/* Footer */

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 16px;
}