* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Nav */

nav {
    padding: 16px;
    background-color: #007bff;
}

nav ul li {
    display: inline;
    padding: 16px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
}

main {
    display: grid;
    place-items: center;
}